@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    This application is built for the purpose of assessment by John Holland for Vivek Patil.
    The application is not full proof and has several functional and non functional functionalities missing.
</article>
