@{
    ViewBag.Title = "Welcome to Vivek's Video Renting Shop";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <p><h1>@ViewBag.Title.</h1></p>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}

